.wrap{
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    font-style: oblique;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.table{

    width: 90%;
}
input{
    width: 50px;
    text-align: center;
}
select{
    text-align: center;
}

.hide{
    display: none;
}
.month{
 font-size: 36px; 
 font-weight: 700;  
}
td{
   
}
td:hover{
    color:red;
    background-color: blueviolet;
}